<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_all_ipv4_addresses[1] }}/index.html>Homepage</a>
 </br>
<?php 
 Print "Hello, World! I am a web server configured using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";
echo  "Connecting to database.... </BR>";
echo  "<B>Retrieved List of Databases:</B> </BR>";
                $link = mysqli_connect('{{ hostvars[groups['tag_node_type_db'] | list | join ("\",\"")].ec2_private_ip_address }}', '{{ hostvars[groups['tag_node_type_db'] | list | join ("\",\"")].dbuser }}', '{{ hostvars[groups['tag_node_type_db'] | list | join ("\",\"")].upassword }}') or die(mysqli_connect_error($link));
        $res = mysqli_query($link, "SHOW DATABASES;");
        while ($row = mysqli_fetch_assoc($res)) {
                echo "- ".$row['Database'] . "</BR>";
        }
?>
</body>
</html>

